body {
  font-family: 'Philosopher', sans-serif;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/wkdal720/image/upload/v1473787063/watercolor/background_luxjr5.jpg');
  padding-top: 5vh;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#canvas {
  display: inline;
  margin-left: 2vw;
  background-image: url("https://res.cloudinary.com/wkdal720/image/upload/v1486435382/ivory-off-white-paper-texture_ih08wh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.links {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media all and (max-width: 700px) {
  .links {
    display: none;
  }
}

footer {
  color: #888;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  display: none;
}

#save_canvas {
  display: none;
}
