body {
  font-family: 'Philosopher', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/wkdal720/image/upload/v1473787063/watercolor/background_luxjr5.jpg');
  padding-top: 3vh;
  margin: 0;
}

#canvas {
  display: inline;
  background-image: url("https://res.cloudinary.com/wkdal720/image/upload/v1486435382/ivory-off-white-paper-texture_ih08wh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.links {
  position: absolute;
  right: 3vw;
  top: 3vh;
}

.links img:hover {
  background: rgba(0, 0, 255, 0.2);
  border-radius: 50%;
}

.links a img, .links a {
  width: 30px;
  height: 30px;
}

@media all and (max-width: 700px) {
  .links {
    display: none;
  }
}

footer {
  color: #888;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  display: none;
}

#save_canvas {
  display: none;
}
