body {
  font-family: 'Philosopher', sans-serif;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/wkdal720/image/upload/v1473787063/watercolor/background_luxjr5.jpg')
}

.content {
  display: flex;
  flex-direction: row;
}

.interface img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#canvas {
  margin-right: : 10%;
  margin-left: 20px;
  display: inline;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: crosshair;
}

body h1{
  font-weight: bold;
  text-align: center;
}

.interface {
  display: inline-flex;
  flex-direction: column;
  margin-left: 15px;
}

.interface label {
  margin: 0 auto;
}

.interface button {
  font-family: 'Philosopher', sans-serif;
  width: 100px;
  margin: 5px auto;
  display: block;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;

  border: solid 1px #3a2673;
  background: #5739ac;
  color: #FFF;
}

.interface button:hover {
  background: #432d86;
  border: solid 1px #3a2673;
  text-decoration: none;
  cursor: pointer;
}

.interface button:focus {
  outline: none;
}

#color {
  width: 50px;
  cursor: pointer;
}

#size {
  width: 100px;
  cursor: pointer;
}


@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.options {
  display: flex;
  flex-direction: column-reverse;
}

.options > * {
  width: 40px;
  height: 40px;
  align-self: center;
  margin: 5px;
}

#default {
  background-color: white;
  cursor: pointer;
}

#night {
  background-color: black;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 15px;
}

.interface section label {
  margin-bottom: 5px;
}

.links {
  position: absolute;
  right: 20px;
  top: 20px;
}

body img {
  width: 40px;
  height: 40px;
  margin: auto 10px;
  cursor: pointer;
}


@media all and (max-width: 700px) {
  .links {
    display: none;
  }
}
