.interface img, a {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.interface {
  display: inline-flex;
  flex-direction: row;
  margin-left: 5vw;
  align-self: flex-start;
  align-items: center;
  height: 5vh;
  padding-bottom: 1vh;
}

.interface label {
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: row;
}

#color {
  width: 20px;
  cursor: pointer;
  align-self: center;
}

#size {
  width: 100px;
  cursor: pointer;
}

#texture {
  width: 70px;
  overflow-x: hidden;
  margin: 0;
  flex-direction: row;
}

#texture:hover {
  width: auto;
}

#texture > label {
  display: flex;
  align-items: center;
  width: 70px;
  white-space: nowrap;
}

.options {
  display: flex;
  flex-direction: row;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  overflow: hidden;
  z-index: 5;
}

.options > img {
  align-self: center;
  margin: 5px;

}

section {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.jscolor {
  color: transparent !important;
}

#clear:hover, #save:hover, #water:hover, #brush:hover {
  background: rgba(0, 0, 255, 0.2);
  border-radius: 5px;
}

#clear {
  display: inline;
  margin: 0;
  margin-right: 10px;
}

.selected {
  background: rgba(0, 0, 255, 0.2);
  border-radius: 5px;
}

.mode > img {
  margin-right: 5px;
}
